<%= render :partial => 'posts/form' %>
<br>
<hr>
<br>
<ul data-role="listview">
  <% @poopstation.posts.each do |post|%>
  <li data-icon="false">
    <a href="" >
        <%= post.text %>
    </a>
    <div class = "ui-li-count"><%= post.likes %></div>
    <% if session[post.id] != true %>
    <%= link_to "Like", '/poopstations/' + @poopstation.id.to_s + '/' + post.id.to_s, "data-icon" => "star", :method => "post" %>
    <% end %>
</li>

<% end %>
</ul>

