<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>New Post!</h1>

  <p>
Someone has posted on stall: <%= @id %> at <%= @time %>
<br>
<br>
Text:
<%= @text %>
  </p>
  <p>View the admin for the stall at <a href="www.stalltalk.info/poopstations/<%= @id %>">the website</a></p>
</body>
</html>