<div class="hero-unit">
  <div class="wrapper">
    <h1 class="pull-left span9">Start The Movement.</h1>
    <p class="span4 pull-right">
     StallTalk is a toilet-based social network founded by Northwestern Computer Science students and avid toilet users.
     <br><br>
     It allows toileteers to anonymously leave messages at a particular stall. Talking to people is simple. Each stall has a unique QR code that links to a webpage that displays posts at that stall.
     <br><br>
     Users simply scan the code, and -- 'Plop!' -- the rest is history.
   </p>

   <iframe class="promo-vid" width="560" height="315" src="http://www.youtube.com/embed/mn3aoNhy12M" frameborder="0" allowfullscreen></iframe>
   <br><br>
   <a href="/stickers" class="btn btn-inverse btn-large pull-right" style="margin-right: 25px;">Get Stickers</a>
   <a href="http://www.indiegogo.com/stalltalk" class="btn btn-large btn-primary pull-right" style="margin-right: 15px;">Crowd Fund Us!</a>
 </div>
</div>

<div class="middle-info" id="about">
  <div class="span3 about">
    <h1>The Dream</h1>

    <p>
      We have a dream that one day every toilet around the world will be a beacon of hope. Whether it be through chat or games-- we hope to revolutionize the way people poop.

      <a href="/posts" id="stickers-link" class="btn btn-large btn-primary pull-right">See Posts</a>
    </p>

  </div>
  <div class="span3 about">
    <h1>The [Dream] Team</h1>
    <p>The StallTalk team consists of a group of Northwestern Computer Science students dedicated to living life to the fullest. Our team has a combined 25 years of programming experience, 3 successful companies, and are toilet experts.
    </p>
  </div>
  <div class="span3 about">
    <h1>The Future</h1>

    <p>
      The future of StallTalk is completely decided by you. It is completely open source, and you can checkout the code on <a href="https://github.com/jontonsoup/StallTalk">Github</a>. We have a big goals - some of which include ShatRoulette and ShitterTwitter! Let's get to 50,000 stickers, and Start The Movement!
    </p>

  </div>
</div>
<div class="presentation">
  <div class="mobile-ish">
    <h1>The Mobile App</h2>


      <div class="quotes">
        <h5>A few of our fans...</h5>
        <h6>This is a good area for some text describing the mobile app or placing quotes. </h6>
        <p>"Captains poop log: stall date 20120501. Discovered an anomaly circling Uranus. Sent a couple of philangies in to investigate. Things got messy and we took heavy losses. The cleanup was a disaster!"</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <%= image_tag 'mobile1.png', :class => 'mobile-image' %>
      <%= image_tag 'mobile2.png', :class => 'mobile-image' %>
    </div>

  </div>


