<p>
<h1>Start The Movement!</h1>
<br>
StallTalk is a toilet based social network founded by Northwestern Computer Science students and avid toilet users. It allows toileteers to anonymously leave messages at a particular stall. Talking to people is simple. Each stall has a unique QR code that links to a webpage that displays posts at that stall. Users simply scan the code, and -- 'Plop!' -- the rest is history.
</p>

<%= link_to "See What People Are Saying Around the Toiletsphere!", posts_path, "data-role" => "button" %>