<p>
    <h1>Start The Movement!</h1>
    <hr>
    <br>
    <ul data-role="listview">
        <li>StallTalk is a toilet based social network founded by Northwestern Computer Science students and avid toilet users.</li>
        <li>It allows toileteers to anonymously leave messages at a particular stall.</li>
        <li>Talking to people is simple. Each stall has a unique QR code that links to a webpage that displays posts at that stall.</li>
        <li>Toileteers simply scan the code, and -- 'Plop!' -- the rest is history.</li>
    </p>

    <%= link_to "See What People Are Saying Around the Toiletsphere!", posts_path, "data-role" => "button" %>