    <h2>Best Posts</h2>
    <br>
    <%= link_to "Checkout Latest Posts!" , posts_path , "data-role" => "button" %>
    <hr>
    <ul data-role="listview">
       <% @posts.each do |post| %>
       <li data-icon="false">
        <a href="" >
            <%= post.text %>
        </a>
        <% if session[post.id] != true %>
        <%= link_to "" , '/like/' + "best/" + post.poopstation.id.to_s + '/' + post.id.to_s , "data-icon" => "star", :method => "post" %>
        <% end %>
        <div class = "ui-li-count"><%= post.likes %></div>
    </li>
    <% end %>
</ul>