<%- model_class = Post.new.class -%>
<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Posts</th>
      <th>Likes</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.text %></td>
         <td><span class="badge badge-info"><%= post.likes %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>

