<% if request.fullpath == '/' %>
<div class="head-spread">
  <%= image_tag "logo.jpg", :class => "pull-right", :style => "position:fixed; top: 0px;left: 80%;z-index: 99999"%>
</div>
<% end %>

<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="/">StallTalk</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li><a href="/">Home</a></li>
          <li><a href="/stickers">Stickers</a></li>
          <li><a href="/posts">Posts</a></li>
          <li><a href="/#about">About</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<% if flash[:notice] %>
<div class="notice"><%= flash[:notice] %></div>
<% end %>