<!DOCTYPE html>
<html>
<head>
  <title>Stalltalk</title>
  <%= stylesheet_link_tag    "mobile/application", :media => "all" %>
  <%= javascript_include_tag "mobile/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
